#root {
  max-width: 1280px;
  margin: 0 auto;
}

/* main------------------------------------------------ */

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height */
}

.content {
  display: flex;
  width: 80%; /* Adjust width */
  max-width: 900px;
}

.text-section {
  flex: 1;
  padding: 20px;
}

.image-placeholder {
  flex: 1;
  background-color: blue;
  height: 300px; /* Placeholder height */
}